<!DOCTYPE html>
<html>
<head>
    <title>Tree View</title>
    <script src="https://unpkg.com/vue@2"></script>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: Menlo, Consolas, monospace;
            color: #444;
        }

        .item {
            cursor: pointer;
        }

        .bold {
            font-weight: bold;
        }

        ul {
            padding-left: 1.5em;
            line-height: 1.5em;
            list-style-type: dot;
        }
    </style>
    <!-- item template -->
    <script type="text/x-template" id="item-template">
        <li>
            <div
                    :class="{bold: isFolder}"
                    @click="toggle"
                    @dblclick="makeFolder">
                {{ item.title }}
                <span v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
            </div>
            <ul v-show="isOpen" v-if="isFolder">
                <tree-item
                        class="item"
                        v-for="(child, index) in item.children"
                        :key="index"
                        :item="child"
                        @make-folder="$emit('make-folder', $event)"
                        @add-item="$emit('add-item', $event)"
                ></tree-item>
                <!--新增按钮-->
                <!--<li class="add" @click="$emit('add-item', item)">+</li>-->
            </ul>
        </li>
    </script>
</head>
<body>
<!--<p>(You can double click on an item to turn it into a folder.)</p>-->

<!-- the demo root element -->
<ul id="demo">
    <tree-item
            class="item"
            :item="treeData"
            @make-folder="makeFolder"
            @add-item="addItem"
    ></tree-item>
</ul>

<script>
    // demo data
    var treeData = {
        title: "ToolbarFolder",
        children: [
            {
                title: "hello",
                url: "https://www.baidu.com"
            },
            {title: "wat"},
            {
                title: "child folder",
                children: [
                    {
                        title: "child folder",
                        children: [{title: "hello"}, {title: "wat"}]
                    },
                    {title: "hello"},
                    {title: "wat"},
                    {
                        title: "child folder",
                        children: [{title: "hello"}, {title: "wat"}]
                    }
                ]
            }
        ]
    };

    // define the tree-item component
    Vue.component("tree-item", {
        template: "#item-template",
        props: {
            item: Object
        },
        data: function () {
            return {
                isOpen: false
            };
        },
        computed: {
            isFolder: function () {
                return this.item.children && this.item.children.length;
            },
            getUrl: function () {
                return this.item.url
            }
        },
        methods: {
            toggle: function () {
                if (this.isFolder) {
                    this.isOpen = !this.isOpen;
                } else {
                    if (this.getUrl) {
                        window.open(this.getUrl);
                    }
                }
            },
            makeFolder: function () {
                if (!this.isFolder) {
                    this.$emit("make-folder", this.item);
                    this.isOpen = true;
                }
            }
        }
    });

    // boot up the demo
    var demo = new Vue({
        el: "#demo",
        data: {
            isFinished: false,
            treeData: treeData
        },
        methods: {
            makeFolder: function (item) {
                console.log('双击创建文件夹')
                // Vue.set(item, "children", []);
                // this.addItem(item);
            },
            addItem: function (item) {
                item.children.push({
                    name: "new stuff"
                });
            },
            getData() {
                fetch("https://gist.githubusercontent.com/CHEN1016/eabafdea76b55aac4c27793774f911c6/raw/b15bc7a93f1155b3f544c517ed3d2fbad5a2aab4/BookmarkHub", this.requestOptions)
                    .then(response => response.json())
                    .then(json => {
                        console.log('in....')
                        this.books = json['bookmarks'][0]
                        this.treeData = this.books
                        this.isFinished = true
                        console.log(this.books)
                        return json
                    })
                    .catch(error => console.log('error', error));
            }
        },
        mounted() {
            this.getData()
        }

    });
</script>
</body>
</html>
